.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.body-container {
  border: 1px solid black;
  margin: 5px 0px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.nav-items-list {
  display: flex;
  padding: 10px;
}

.nav-items-list > li {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

.search-container {
  margin: 10px;
}

.restaurant-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: space-around;
}

.restaurant-card-container {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 10px;
}

.restaurant-image-container {
  width: 100%;
  height: auto;
}

.restaurant-image {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  height: auto;
}

.restaurant-card-container:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
}
